<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

| Data Science Tools   |
|----------------------|
|  Jupyter Notebook    |
|  RStudio             |
|  VS Code             |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<b>Objectives:</b> List popular languages for Data Science
- Python
- R
- SQL
- Java
- Julia

<h2>Author</h2>
Vishwa Ranjan